.body-class {
    min-height: calc(100vh - 116px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
}

.landing-image {
    background-image: url('../img/LandingMask.jpg');
    min-height: 450px;
    width: 100%;
    background-position: center;
    /* background-size: contain; */
    background-color: white;
}
.selection-hero {
    background-image: url('../img/LandingMask.jpg');
    min-height: 450px;
    width: 100%;
    background-position: center;
    /* background-size: contain; */
    background-color: white;
    background-repeat: no-repeat;
}

.landing-cards-div {
    background: #000 url('../img/BlueBG.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.landing-image,
.landing-cards-div {
    position: relative;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.design-card {
    max-width: 345px;
    transform: scale(1);
    transition: all 1s;
}
.design-card:hover {
    transform: scale(1.05);
    transition: all 1s;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-buttons {
    margin: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Price */
.price {
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 0px;
}
.priceNumber {
    font-size: 5rem;
}
.dollar-sign {
    font-size: 2rem;
    padding-top: 20px;
}
.each {
    font-size: 1.5rem;
    padding-top: 60px;
}

/* CAROUSEL */
.carousel-item {
    min-height: 450px;
}
.carousel-control {
    font-size: 300px;
    width: 100px;
}
.carousel-image-1 {
    background: url('../img/LandingMask.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}
.carousel-image-2 {
    background: url('../img/LandingMask.jpg') no-repeat center;
    background-size: cover;
}
.carousel-image-3 {
    background: url('../img/LandingMask.jpg') no-repeat center;
    background-size: cover;
}
.carousel-image-4 {
    background: url('../img/LandingMask.jpg') no-repeat center;
    background-size: cover;
}
